<h1>Weather in {{ weather.city | capitalize }} , {{ weather.country }}</h1>
<p>Temperature: {{ weather.temperature }} °C</p>
<p>Condition: {{ weather.condition }}</p>
<p>Wind speed: {{ weather.windSpeed }} км/ч</p>
<p>Humidity: {{ weather.humidity }} %</p>
<p>Updated: {{ weather.lastUpdated | date }}</p>
